---
import Base from '../components/Base.astro';
import BlogPostCard from '../components/blog/blog-post-card.astro';
import uuid from 'react-uuid'

type Frontmatter = {
  title: string
  description: string
  pubDate: string
  draft?: boolean
  tags: string[]
  minutesRead: string
}

const posts = (await Astro.glob<Frontmatter>('./blog/*.md')).slice(0, 5)
---

<Base>
  <div>
    {posts.map(post => (
      <BlogPostCard
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        createdAt={post.frontmatter.pubDate}
        readTime={post.frontmatter.minutesRead}
        key={uuid()}
        href={post.url}
      />
    ))}
  </div>
</Base>
