---
import Base from '../components/Base.astro';
import HeroSection from '../components/hero-section.astro'
import ProjectCard from '../components/project-card.astro'

import nodejsVector from '../../public/vector/techs/nodejs.svg'
import pythonVector from '../../public/vector/techs/python.svg'
import javaVector from '../../public/vector/techs/java.svg'
import postgresqlVector from '../../public/vector/techs/postgresql.svg'
import dockerVector from '../../public/vector/techs/docker.svg'
import kubernetesVector from '../../public/vector/techs/kubernetes.svg'
import awsVector from '../../public/vector/techs/aws.svg'

import awsLogo from '../../public/vector/certifications/aws.svg'
import cloudBadge from '../../public/vector/certifications/cloud-badge.svg'
import codeWithMosh from '../../public/vector/certifications/code-with-mosh.svg'

const TITLE = 'Página inicial • matheusinit';
const DESCRIPTION =
  'Um blog de um dev que fala sobre desenvolvimento de software';

const posts = [
  {
    title: 'Finance',
    description: 'Aplicação Full-Stack em Ruby on Rails e Tailwind para gerenciar finanças pessoais',
    href: 'https://github.com/matheusinit/finance'
  },
  {
    title: 'Ecommerce API',
    description: 'API REST em Node.js para praticar TDD, CI, AWS e arquitetura de software',
    href: 'https://github.com/matheusinit/ecommerce-api'
  },
  {
    title: 'Delivery API',
    description: 'Microsserviço escrito com framework Spring Boot com Kafka',
    href: 'https://github.com/matheusinit/delivery-api-springboot'
  },
] 
---

<Base title={TITLE} description={DESCRIPTION}>
  <div class="mb-16">
    <div class="flex flex-col items-center pt-4 2xl:pt-16">
      <HeroSection />
    </div>

    <div class="space-y-12">
      <section class="w-full">
        <h3 class="pb-6 pt-24 text-2xl font-bold text-foreground-primary">Projetos</h3>

        <ul class="flex justify-between">
          {posts.map(post => (
            <li>
              <ProjectCard
                name={post.title}
                description={post.description}
                href={post.href}
              />
            </li>
          ))}  
        </ul>
      </section>

      <section class="w-full">
        <h3 class="pb-6 pt-12 text-2xl font-bold text-foreground-primary">Tecnologias</h3>

        <ul class="flex justify-evenly">
          <li>
            <img src={nodejsVector.src} alt="NodeJS" class="size-20 grayscale transition hover:grayscale-0" />
          </li>

          <li>
            <img src={pythonVector.src} alt="NodeJS" class="transtion size-20 grayscale hover:grayscale-0" />
          </li>

          <li>
            <img src={javaVector.src} alt="NodeJS" class="size-20 grayscale transition hover:grayscale-0" />
          </li>

          <li>
            <img src={postgresqlVector.src} alt="NodeJS" class="size-20 grayscale transition hover:grayscale-0" />
          </li>

          <li>
            <img src={dockerVector.src} alt="NodeJS" class="size-20 grayscale transition hover:grayscale-0" />
          </li>

          <li>
            <img src={kubernetesVector.src} alt="NodeJS" class="size-20 grayscale transition hover:grayscale-0" />
          </li>

          <li>
            <img src={awsVector.src} alt="NodeJS" class="size-20 grayscale transition hover:grayscale-0" />
          </li>
        </ul>
      </section>

      <section class="w-full">
        <h3 class="pb-6 pt-12 text-2xl font-bold text-foreground-primary">Certificações</h3>

        <ul class="flex justify-evenly">
          <li class="flex flex-col items-center space-y-1">
            <img src={cloudBadge.src} alt="NodeJS" class="size-28" />
            <h6 class="text-lg">Developer Learning Plan</h6>
          </li>

          <li class="flex flex-col items-center space-y-5">
            <img src={awsLogo.src} alt="NodeJS" class="size-24" />
            <h6 class="text-lg">AWS Cloud Essentials</h6>
          </li>

          <li class="flex flex-col items-center space-y-5">
            <img src={codeWithMosh.src} alt="NodeJS" class="size-24" />
            <h6 class="text-lg">The Complete Node.js Course</h6>
          </li>
        </ul>
      </section>
    </div>

  </div>
</Base>
