---
import DocumentIcon from 'astro-heroicons/solid/DocumentText.astro';
import HeartIcon from 'astro-heroicons/solid/Heart.astro';

import GithubVector from '../../public/vector/github.svg'
import LinkedinVector from '../../public/vector/linkedin.svg'

const CV_URL = 'https://docs.google.com/document/d/12tTYKw8gcPDiKaeFXR2aqfUAER0uCKxTlAHb_py9C_A/edit?usp=sharing'
const GITHUB_URL = 'https://github.com/matheusinit'
const LINKEDIN_URL = 'https://www.linkedin.com/in/matheus-oliveira13'
---
<div class="flex flex-col space-y-2 2xl:space-y-4">
  <div class="inline-block text-2xl text-foreground-secondary 2xl:text-[2rem]">
    Oi, me chamo Matheus
  </div>
  <div class="inline-block">
    <div class="flex items-end">
      <div
        class="text-8xl font-bold uppercase leading-none text-foreground-primary 2xl:text-[8rem]"
      >
        Software
      </div>

      <div class="mb-3 ml-6 flex items-end space-x-6 2xl:mb-2">
        <a href={CV_URL} target="_blank" rel="noopener noreferrer">
          <DocumentIcon
            class="size-10 cursor-pointer fill-[#3B92E3] transition-transform hover:-translate-y-1"
          />
        </a>

        <a href={GITHUB_URL} target="_blank" rel="noopener noreferrer">
          <img src={GithubVector.src} alt="GitHub profile link"
            class="size-10 cursor-pointer transition-transform hover:-translate-y-1"
          />
        </a>

        <a href={LINKEDIN_URL} target="_blank" rel="noopener noreferrer">
          <img src={LinkedinVector.src} alt="LinkedIn profile link"
            class="size-9 cursor-pointer transition-transform hover:-translate-y-1"
          />
        </a>
      </div>
    </div>
    <div
      class="text-9xl font-bold uppercase text-foreground-primary 2xl:text-[10rem] 2xl:leading-[140px]"
    >
      Developer
    </div>
  </div>
  <div
    class="inline-block 2xl:w-[543px] w-[30rem] self-end text-xl text-foreground-secondary 2xl:text-[1.5rem] 2xl:leading-snug"
  >
    Tenho experiência como Desenvolvedor Full Stack com Typescript.
    Apaixonado por Back-end e por novos aprendizados na área da Computação.
    Atualmente me especializando em Ciência de Dados com Python no TRE/RN.
  </div>
</div>

<div class="flex items-center pt-12 text-base 2xl:text-xl text-foreground-tertiary 2xl:pt-20">
  <div>Esse portfolio e design foi feito com</div>
  <HeartIcon class="mx-1.5 size-7 fill-[#e31b23]" />
  <div>por mim!</div>
</div>
