---
import BaseHead from "../components/BaseHead.astro";

import { IconChevronLeft } from "@tabler/icons";
import { CalendarIcon, TagIcon, ClockIcon } from "@heroicons/react/24/solid";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    tags?: string[];
    minutesRead: string;
  };
}

import "../styles/base.css";
import { Footer } from "../components/Footer";
import { Header } from "../components/Header";

const {
  content: { title, description, pubDate, tags, minutesRead },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="dark:bg-slate-800 transition-colors duration-500">
    <Header client:load />
    <div class="px-6 py-8 lg:max-w-screen-lg md:mx-auto">
      <a
        href="/blog"
        role="button"
        class="inline-flex items-center pl-2 pr-4 py-2 rounded-md text-gray-100 bg-gray-600 hover:text-gray-400 mb-6 dark:bg-gray-800 dark:text-gray-400 dark:hover:text-gray-200"
      >
        <IconChevronLeft client:only="react" />
        <span class="font-medium text-sm">Voltar</span>
      </a>

      <main>
        <div class="mb-8 border-b pb-6 border-gray-300 dark:border-slate-700">
          <div class="mb-2">
            <h1 class="text-4xl font-bold text-gray-600 dark:text-gray-100">
              {title}
            </h1>

            <div class="text-base text-gray-500 dark:text-gray-300 font-thin">
              {description}
            </div>
          </div>

          <div
            class="flex items-center gap-x-2 mb-1 text-gray-600 dark:text-gray-400"
          >
            <CalendarIcon className="h-6 w-6" client:only="react" />
            <div class="mt-1">{pubDate}</div>
          </div>

          <div class="flex items-center gap-x-1 mb-1">
            <TagIcon
              className="h-6 w-6 text-gray-600 dark:text-gray-400 mr-1 "
              client:only="react"
            />
            <div class="flex items-center gap-x-2">
              {
                tags?.map((tag) => (
                  <a
                    class="bg-blue-400 text-white px-2 rounded hover:bg-blue-500 dark:border dark:border-gray-600 dark:bg-slate-600 dark:hover:bg-slate-700"
                    href={`/tags/${tag.toLowerCase()}`}
                  >
                    {tag}
                  </a>
                ))
              }
            </div>
          </div>

          <div
            class="flex items-center gap-x-1 text-gray-600 dark:text-gray-400"
          >
            <ClockIcon className="h-6 w-6" client:only="react" />
            <div class="mt-1">{minutesRead}</div>
          </div>
        </div>

        <div class="text-gray-800 text-lg prose dark:text-gray-300">
          <slot />
        </div>
      </main>

      <Footer client:only="react" />
    </div>
  </body>
</html>
